<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistics</title>
    <link rel="stylesheet" href="/components/statistics/statistics.css">
  </head>
  <body>
    <img
      class="section-bottom-image"
      src="/assets/images/section-bottom-image.png"
      alt="hero-image"
    />
    <div class="statistics-wrapper">
      <div class="statistics">
        <h1 class="statistics-header">
          one stop. <br />
          four <span class="highlighted">possibilities</span>.
        </h1>
        <div class="figures">
          <div class="statistic">
            <h4>3M</h4>
            <p>active users</p>
          </div>
          <div class="statistic">
            <h4>60M</h4>
            <p>
              Links & QR <br />
              codes created
            </p>
          </div>
          <div class="statistic">
            <h4>1B</h4>
            <p>
              clicked & scanned <br />
              connections
            </p>
          </div>
          <div class="statistic">
            <h4>300k</h4>
            <p>app integrations</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
