<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing</title>
    <link rel="stylesheet" href="/components/pricing/pricing.css" />
  </head>
  <body>
    <div class="pricing-wrapper">
      <div class="pricing-info">
        <h1 class="pricing-header">
          A <span class="highlighted">price perfect </span>for your needs.
        </h1>
        <p class="pricing-description">
          From catering for your personal, business, event, socials needs, you
          can be rest assured we have you in mind in our pricing.
        </p>
      </div>
      <div class="cards-wrapper">
        <div class="default-card">
          <p class="category">Basic</p>
          <p class="price">Free</p>
          <p class="description">Free plan for all users</p>
          <ul>
            <li>Unlimited URL Shortening</li>
            <li>Basic Link Analytics</li>
            <li>Customizable Short Links</li>
            <li>Standard Support</li>
            <li>Ad-supported</li>
          </ul>
        </div>
        <div class="inverse-card">
          <p class="category">Professional</p>
          <p class="price">$15/month</p>
          <p class="description">Ideal for business creators</p>
          <ul>
            <li>Enhanced Link Analytics</li>
            <li>Custom Branded Domains</li>
            <li>Advanced Link Customization</li>
            <li>Priority Support</li>
            <li>Ad-free Experience</li>
          </ul>
        </div>
        <div class="default-card">
          <p class="category">Teams</p>
          <p class="price">$25/month</p>
          <p class="description">Share with up to 10 users</p>
          <ul>
            <li>Team Collaboration</li>
            <li>User Roles and Permissions</li>
            <li>Enhanced Security</li>
            <li>API Access</li>
            <li>Dedicated Account Manager</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="price-buttons">
      <button class="inverse-button">Get Custom Pricing</button>
      <button class="primary-button">Select Pricing</button>
    </div>
  </body>
</html>
