<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/hero/hero.css" />
    <title>Hero</title>
  </head>
  <body>
    <main class="hero">
      <div>
        <h2>
          Optimize your online experience with our advanced
          <span class="special-text">
            <span class="highlighted">URL shortening</span>
            <img src="/assets/images/underline.svg" alt="" />
          </span>
          solution
        </h2>
        <p>
          Personalize your shortened URLs to align with your brand identity.
          Utilize custom slugs, branded links, and domain customization options
          to reinforce your brand presence and enhance user engagement.
        </p>
        <div class="button-wrapper">
          <button class="primary-button">Sign Up</button>
          <button class="inverse-button">Learn More</button>
        </div>
        <img
          class="hero-image"
          src="/assets/images/hero-image.svg"
          alt="hero-image"
        />
      </div>
    </main>
  </body>
</html>
