<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/components/navigation/navigation.css"
    />
  </head>
  <body>
    <header class="navigation">
      <div class="logo">
        <img src="/assets/images/icon.svg" alt="icon" />
        <img src="/assets/images/pipe.svg" alt="pipe" />
        <p class="logo-text">scissor</p>
      </div>
      <nav>
        <ul>
          <li><a href="#">My URLs</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </nav>
      <div class="actions">
        <a href="#">Log in</a>
        <button class="primary-button">Try for free</button>
      </div>
    </header>
  </body>
</html>
