<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistics</title>
    <link rel="stylesheet" href="/components/services/services.css" />
  </head>
  <body>
    <div class="services-wrapper">
      <div class="services-info">
        <h1 class="services-header">
          Why choose <span class="highlighted">Scissors</span>
        </h1>
        <p class="services-description">
          Scissors is the hub of everything that has to do with your link
          management. We shorten your URLs, allow you creating custom ones for
          your personal, business, event usage. Our swift QR code creation,
          management and usage tracking with advance analytics for all of these
          is second to none.
        </p>
      </div>
      <div class="service-columns">
        <div class="service-wrapper">
          <div class="service">
            <img src="/assets/images/url-shortening.svg" alt="URL Shortening" />
            <h3 class="service-header">URL Shortening</h3>
            <p class="service-description">
              Scissor allows you to shorten URLs of your business, events.
              Shorten your URL at scale, URL redirects.
            </p>
          </div>
          <div class="service">
            <img src="/assets/images/custom-urls.svg" alt="Custom URLs" />
            <h3 class="service-header">Custom URLs</h3>
            <p class="service-description">
              With Scissor, you can create custom URLs, with the length you
              want! A solution for socials and businesses.
            </p>
          </div>
        </div>
        <div class="service-wrapper">
          <div class="service">
            <img src="/assets/images/qr-codes.svg" alt="QR Codes" />
            <h3 class="service-header">QR Codes</h3>
            <p class="service-description">
              Generate QR codes to your business, events. Bring your audience
              and customers to your doorstep with this scan and go solution.
            </p>
          </div>
          <div class="service">
            <img src="/assets/images/data-analytics.svg" alt="Data Analytics" />
            <h3 class="service-header">Data Analytics</h3>
            <p class="service-description">
              Receive data on the usage of either your shortened URL, custom
              URLs or generated QR codes. Embedded to monitor progress.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
